h2 
{
    color: black;
    text-align: center;
    font-family: Georgia;
    font-size: 40px;
}

p
{
    text-align: center;
    color: black;
    font-family: arial;
    font-size: 20px;
}

body
{
    color: white;
}

p.desc 
{
    width: 700px;
    height: 100px;
    border: 1px solid white;
    margin: auto;
    align-content: center;
    align-self: center;
}

div.body
{
    align-self: center;
    margin: auto;
}

